@tailwind base;
@tailwind components;
@tailwind utilities;
html, body{
    background: rgb(207,35,48);
    background: linear-gradient(180deg, rgba(207,35,48,1) 0%, rgba(98,5,17,1) 100%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}
.box1{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.3px);
    -webkit-backdrop-filter: blur(17.3px);
}
.box2{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.3px);
    -webkit-backdrop-filter: blur(17.3px);
}
.box3{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.3px);
    -webkit-backdrop-filter: blur(17.3px);
}
footer{
    margin-top: auto;
}
@media only screen and (max-width: 440px) {
    
    html, body{
        overflow: visible;
    }
    main{
        margin-bottom: 10px;
    }
    .box1{
        width: 120px;
        height: 70px;
        overflow: hidden;
        width: 32%;
        margin: 0 2px;
    }
    .box2{
        width: 120px;
        height: 70px;
        overflow: hidden;
        width: 32%;
        margin: 0 2px;
    }
    .box3{
        width: 120px;
        height: 70px;
        overflow: hidden;
        width: 32%;
        margin: 0 2px;
    }
    .toptext{
        margin-top: -330px;
        margin-left: 280px;
    }
    .toptext div{
        width: 80px;
    }
    .downtext{
        margin-top: -200px;
        margin-left: 250px;
    }
    .downtext div{
        width: 60px;
        height: 50px;
    }
  }